.welcome {
    background-image: url("/img/index-background.jpg");
    background-size: 1200px 485px;
    background-repeat: no-repeat;
}

.welcome-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    /* margin-left: auto; не выравнивается по центру почему-то
    margin-right: auto; */
}

.welcome-block-image {
    margin-top: 30px;
}


/* КАТАЛОГ */
.filter {
    background-image: url("/img/catalog-background\ 1.jpg");
    background-size: 1200px 408px;
    background-repeat: no-repeat;
}