
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/PTSans-Regular.woff2);
    font-display: swap;    
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/PTSans-Bold.woff2);
    font-display: swap;    
}

body {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #E5E5E5;
    height: 3315px;
    width: 1280px;
}


.visually-hidden {
    visibility: hidden;
}

.page-header {
    color: #000000;
    background-color: #FFFFFF;
    height: 70px;
    width: 1060px;
    padding: 0 70px 0 70px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.site-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: PT Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    /* letter-spacing: 0em;
    text-align: left; эти свойства есть в Фигме, но непонятно, нужно ли их использовать*/
    list-style: none;
    height: 66px;
    width: 345px;
    left: 169px;
}

.site-menu-link {
    text-decoration: none;
    font-weight: 700;
    color: inherit;
}

.nav-user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 66px;
    width: 264px;
    border-radius: 0px;
    list-style: none;
}

.nav-item {
    text-align: center;
    vertical-align: center;
    height: 66px;
    width: 42px;
}

.nav-item:last-child {
    width: 166px;
    text-align: center;
    vertical-align: center;
}

.nav-link {
    text-decoration: none;
    font-weight: 700;
    color: inherit;
}

.nav-button {
    text-decoration: none;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
/* identical to box height, or 125% */
    text-align: center;
    text-transform: uppercase;
    background-color: #756257;
    color: #FFFFFF;
    height: 37px;
    width: 160px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
}

.nav-counter-button {
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: white;
    background-color: #7DB54F;
    border-radius: 10px;
    width: 20px;
    height: 20px;   
}


.advantages {
    width: 1200px;
    background-color: #FFFFFF;
    background-image: url("/img/index-background.jpg");
    background-size: 1200px 485px;
    background-repeat: no-repeat;
    margin-top: -70px;
}

.advantages-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages-block-image:last-child {
    margin-top: 50px;
    margin-bottom: 82px;
}

.about-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin: 63px 240px 31px 240px;
    padding: 0 40px 0 40px;
}

.about-text {
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    margin: 31px 220px 80px 220px;
    padding: 0 40px 0 40px;
}

.advantages-list {
    list-style: none;
    width: 1200px;
    display: grid;
    margin-left: -40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 384px);
    grid-template-areas: "advantage-1 advantage-1 advantage-1"
                        "advantage-1 advantage-1 advantage-1"
                        "advantage-2 advantage-2 advantage-2"
                        "advantage-3 advantage-4 advantage-5"
}

.advantages-item:first-child {
    grid-area: advantage-1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "advantages-title-and-text-1 advantage-1-image advantage-1-image"
                        "advantages-sublist advantages-sublist advantages-sublist";
}

.advantages-title-and-text {
    background-color: #83B3D3;
    grid-area: advantages-title-and-text-1;
    text-align: center;
    color: #FFFFFF;
    padding: 97px;
}

.advantages-image {
    grid-area: advantage-1-image;
}

.advantages-sublist {
    list-style: none;
    height: 384px;
    margin: 0;
    grid-area: advantages-sublist;
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr 1fr;
}

.advantages-subitem {
    text-align: center;
    padding-top: 97px;
    padding-bottom: 97px;
}

.advantages-subitem:first-child {
    width: 400px;
    margin-left: -40px;
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-subitem:last-child {
    width: 400px;
    background-color: rgba(131, 179, 211, 0.12);
} 

.advantages-item:nth-child(2) {
    grid-area: advantage-2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "advantage-2-image advantage-2-image advantages-title-and-text-2";
}

.advantages-item:nth-child(2) > .advantages-title-and-text {
    background-color: #83B3D3;
    grid-area: advantages-title-and-text-2;
}

.advantages-item:nth-child(2) > .advantages-image {
    grid-area: advantage-2-image;
}

.advantages-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-transform: uppercase;
}

.advantages-item:nth-child(3) {
    grid-area: advantage-3;
    text-align: center;
    padding: 98px 75px 98px 75px;
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(4) {
    grid-area: advantage-4;
    text-align: center;
    padding: 98px 75px 98px 75px;
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(5) {
    grid-area: advantage-5;
    text-align: center;
    padding: 98px 75px 98px 75px;
    background-color: rgba(131, 179, 211, 0.12);
}

/* "advantage-3 advantage-4 advantage-5" */



/*
.page {
}
.navigation {
}
.logo-link {
}
.logo-link-image {
}
.site-menu-item {
}
.site-menu-item-active {
}
.nav-item {
}
.nav-link {
}
.nav-counter-button {
}
.nav-button {
}
.main-index {
}
.about-title {
}
.about-text {
}
.advantages-list {
}
.advantages-item {
}
.advantages-title {
}
.advantages-text {
}
.advantages-image {
}
.advantages-sublist {
}
.advantages-subitem {
}
.advantages-item-black {
}
.hotel-search {
}
.hotel-search-title {
}
.hotel-search-text {
}
.hotel-search-button {
}
.button {
}
.newsletter {
}
.with-background {
}
.newsletter-title {
}
.newsletter-text {
}
.newsletter-form {
}
.newsletter-email {
}
.newsletter-email-label {
}
.newsletter-button {
}
.page-footer {
}
.social-list {
}
.social-item {
}
.social-link {
}
.footer-phone {
}
.footer-logo-link {
}
.footer-logo-image {
}


*/

/* КАТАЛОГ */
.filter {
    background-image: url("/img/catalog-background\ 1.jpg");
    background-size: 1200px 408px;
    background-repeat: no-repeat;
}