
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/PTSans-Regular.woff2);
    font-display: swap;    
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/PTSans-Bold.woff2);
    font-display: swap;    
}

body {
    height: 3315px;
    width: 1280px;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #E5E5E5;
}



.page-header {
    color: #000000;
    background-color: #FFFFFF;
    height: 70px;
    width: 1060px;
    padding: 0 70px 0 70px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.site-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: PT Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    /* letter-spacing: 0em;
    text-align: left; эти свойства есть в Фигме, но непонятно, нужно ли их использовать*/
    list-style: none;
    height: 66px;
    width: 345px;
    left: 169px;
}

.site-menu-link {
    text-decoration: none;
    font-weight: 700;
    color: inherit;
}

.nav-user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 66px;
    width: 264px;
    border-radius: 0px;
    list-style: none;
}

.nav-item {
    text-align: center;
    vertical-align: center;
    height: 66px;
    width: 42px;
}

.nav-item:last-child {
    width: 166px;
    text-align: center;
    vertical-align: center;
}

.nav-link {
    text-decoration: none;
    font-weight: 700;
    color: inherit;
}

.nav-button {
    text-decoration: none;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
/* identical to box height, or 125% */
    text-align: center;
    text-transform: uppercase;
    background-color: #756257;
    color: #FFFFFF;
    height: 37px;
    width: 160px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
}

.nav-counter-button {
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: white;
    background-color: #7DB54F;
    border-radius: 10px;
    width: 20px;
    height: 20px;   
}


.advantages {
    width: 1200px;
    background-color: #FFFFFF;
    background-image: url("/img/index-background.jpg");
    background-size: 1200px 485px;
    background-repeat: no-repeat;
    margin-top: -70px;
}

.advantages-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages-block-image:last-child {
    margin-top: 50px;
    margin-bottom: 82px;
}

.about-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin: 63px 240px 31px 240px;
    padding: 0 40px 0 40px;
}

.about-text {
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    margin: 31px 220px 80px 220px;
    padding: 0 40px 0 40px;
}

.advantages-list {
    list-style: none;
    width: 1200px;
    display: grid;
    margin-left: -40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 384px);
    grid-template-areas: "advantage-1 advantage-1 advantage-1"
                        "advantage-1 advantage-1 advantage-1"
                        "advantage-2 advantage-2 advantage-2"
                        "advantage-3 advantage-4 advantage-5"
}

.advantages-item:first-child {
    grid-area: advantage-1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "advantages-title-and-text-1 advantage-1-image advantage-1-image"
                        "advantages-sublist advantages-sublist advantages-sublist";
}

.advantages-title-and-text {
    background-color: #83B3D3;
    grid-area: advantages-title-and-text-1;
    text-align: center;
    color: #FFFFFF;
    padding: 97px;
}

.advantages-image {
    grid-area: advantage-1-image;
}

.advantages-sublist {
    list-style: none;
    height: 384px;
    margin: 0;
    grid-area: advantages-sublist;
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr 1fr;
}

.advantages-subitem {
    text-align: center;
    padding-top: 97px;
    padding-bottom: 97px;
}

.advantages-subitem:first-child {
    width: 400px;
    margin-left: -40px;
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-subitem:last-child {
    width: 400px;
    background-color: rgba(131, 179, 211, 0.12);
} 

.advantages-item:nth-child(2) {
    grid-area: advantage-2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "advantage-2-image advantage-2-image advantages-title-and-text-2";
}

.advantages-item:nth-child(2) > .advantages-title-and-text {
    background-color: #83B3D3;
    grid-area: advantages-title-and-text-2;
}

.advantages-item:nth-child(2) > .advantages-image {
    grid-area: advantage-2-image;
}

.advantages-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-transform: uppercase;
}

.advantages-item:nth-child(3) {
    grid-area: advantage-3;
    text-align: center;
    padding: 98px 75px 98px 75px;
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(4) {
    grid-area: advantage-4;
    text-align: center;
    padding: 98px 75px 98px 75px;
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(5) {
    grid-area: advantage-5;
    text-align: center;
    padding: 98px 75px 98px 75px;
    background-color: rgba(131, 179, 211, 0.12);
}

.hotel-search {
    width: 1200px;
    height: 417px;
    background-color: #FFFFFF;
    margin-top: -22px;
    text-align: center;
}

.hotel-search-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    margin: 91px 240px 29px 240px;

}

.hotel-search-text {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    margin: 29px 240px 56px 240px;
}

.hotel-search-button {
    margin: 56px 312px 105px 312px;
    font-family: inherit;
    color: #FFFFFF;
    background-color: #756257;
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;

}

.newsletter-with-background {
    width: 1200px;
    height: 411px;
    background-image: url("/img/newsletter-background.jpg");
    background-size: 1200px 411px;
    margin-top: -110px;
    text-align: center;
}

.newsletter-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 94px 240px 29px 240px;

}

.newsletter-text {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;

    padding: 0 320px 46px 320px;
}

.newsletter-form {
    display: grid;
    vertical-align: bottom;
    width: 800px;
    height: 60px;
    grid-template-columns: 3fr 1fr;
    margin-left: auto;
    margin-right: auto;
    

}

.newsletter-email {
    background: #F2F2F2;
    height: inherit;
}

.newsletter-button {
    background-color: #83B3D3;
    height: inherit;

}
/* Поле ввода и кнопка находятся не на одной линии */

.page-footer {
    width: 1200px;
    height: 120px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.social-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.social-link {
    text-decoration: none;
    
}

.social-link .visually-hidden {
    visibility: hidden;
}

.footer-phone {
    font-family: inherit;
    color: #000000;
    text-decoration: none;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
}

.footer-logo-link {
    margin-right: 72px;

}

/* КАТАЛОГ */

.main-inner {
    background-image: url("/img/catalog-background-1.jpg");
    background-size: 1200px 408px;
    background-repeat: no-repeat;
    margin-top: -35px;
}

.inner-background, .filter, .breadcrumbs-link {
    color: #FFFFFF;
}

.filter-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    text-align: left;
    margin-left: 71px;
    margin-top: 35px;
    padding-top: 40px;

}

.breadcrumbs-list {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin-left: 0;
    margin-top: -30px;
}

.breadcrumbs-link {
    color: inherit;
    margin-left: 40px;
}

.catalog-filter {
    margin-left: 55px;
    text-align: left;
    display: grid;
    grid-template-columns: 150px 287px 287px 1fr;
    gap: 50px;
}

.catalog-filter-list {
    list-style: none;
    margin-left: -40px;
    font-size: 18px;
    line-height: 23px;
}

fieldset {
    border: none;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.catalog-filter-item {
    padding-bottom: 13px;
}

.visually-hidden {
    visibility: hidden;
}

/* КАТАЛОГ */